/*
background color sets the colour of the page itself.

color sets the colour of the text on the page.

hex color codes from https://htmlcolorcodes.com/

black is #111111

orange is #FFA15C
magenta is #651301
light magenta is #900C3F
light olive is #93B557
dark olive is #313D1D
 */

html, body{
  background-color: #FFFFFF;
  color: #651301;
}

/*
h1 is the bold "Your Name" at the top of the page.
 */

h1{
color: #900C3F;
}

/*
h3 is used for the subheadings, like "full-length"
 */

h3{
  color: #313D1D;
}

/*
h4 is used for the dates in this template
 */

h4{
  color: #111111;
}

/*
This sets the colour of the links on your page
 */

a, a:visited {
  color: #000000;
}

/*
This sets the colour of the link when you hover over it
 */

a:hover {
  color: #93B557;
}

/*
This sets the colour of the circle around each of the contact icons
originally #333333
 */

.fab, .fas, .fa-solid{
  background-color: black;
}

/*
This sets the colour of icon itself
 */

a > .fab, a > .fas, a > .fa-solid{
  color: #eeeeee;
}

/*
This sets the colour of the circle around the icon when you hover over it
 */

.fab:hover, .fas:hover, .fa-solid:hover{
  background-color: blue;
}

/*
This sets the colour of icon itself when you hover over it
 */

a > .fab:hover, a > .fas:hover, a > .fa-solid:hover{
  color: #eeeeee;
}
