/*
background color sets the colour of the page itself.

color sets the colour of the text on the page.

hex color codes from https://htmlcolorcodes.com/

black is #111111

orange is #FFA15C
magenta is #651301
light magenta is #900C3F
light olive is #93B557
dark olive is #313D1D
 */

:root {
  --main-bg-color: white;
  --orange: #FFA15C;
  --magneta: #900C3F;
  --light-magneta: #BF1054;
  --olive: #93B557;

  --light-green: #E1F4CB;
  --sage: #BACBA9;
  --dim-gray: #717568;
  --dark-olive: #3F4739;
  --text-color: #651301;
  --black: #322624;
}

html, body{
  background-color: var(--main-bg-color);
  color: #651301;
}

/*
h1 is the bold "Your Name" at the top of the page.

h1{
color: black;
}

already done in main.css
 */

button{
	color: var(--magneta);
}


/* h2 is basically my subtitle */
h2.block{
  background-color: var(--magneta); 
  color: white;
}

/*
h3 is used for the subheadings, like "full-length"
 */

h3{
  color: var(--magneta); 
}

/*
h4 is used for the dates in this template
 */

h4{
  color: var(--dark-olive);
}

/*
This sets the colour of the links on your page
 */

a, a:visited {
  color: #000000;
}

/*
This sets the colour of the link when you hover over it
 */

a:hover {
  color: var(--light-magneta);
}

/*
This sets the colour of the circle around each of the contact icons
originally #333333
 */

.fab, .fas, .fa-solid{
  background-color: black;
}

/*
This sets the colour of icon itself
 */

a > .fab, a > .fas, a > .fa-solid{
  color: #eeeeee;
}

/*
This sets the colour of the circle around the icon when you hover over it
 */

.fab:hover, .fas:hover, .fa-solid:hover{
  background-color: blue;
}

/*
This sets the colour of icon itself when you hover over it
 */

a > .fab:hover, a > .fas:hover, a > .fa-solid:hover{
  color: #eeeeee;
}

.copyright {
  color: var(--black);
}
