/*
-- main header font options -- 
Zeyada https://fonts.google.com/specimen/Zeyada?category=Handwriting
Arizonia https://fonts.google.com/specimen/Arizonia?category=Handwriting 
Monsieur La Doulaise https://fonts.google.com/specimen/Monsieur+La+Doulaise?category=Handwriting

body{
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: #111;
  background-color: #eee;
}

small headers were originally 'Square Peg', Handwriting;

 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Zeyada');
@import url('https://fonts.googleapis.com/css?family=Square+Peg');
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

html{
  background-color: #eee;
}

body{
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  color: #111;
  background-color: #eee;
}

h1{
  font-family: 'Mrs Saint Delafield', Handwriting;
  color: black;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  padding: 0em;
  margin-bottom: 0em;
}

.topnav {
  position: relative;
  width: 100%;
  margin: 1em;
  text-align: center;

  /*
  overflow: hidden;
  */
}

/* Style the links inside the navigation bar 
originally soft gray #f2f2f2 */
.topnav a {
  float: none;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav ul{
  display: inline-block;
  list-style-type: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  /*
  background-color: #04AA6D;
  color: white;
  */
  background-color: #FFFFFF;
  color: black;
}

/* Remove color for the inactive/not current link */
.topnav a.inactive {
  background-color: #FFFFFF;
  color: black;
}

/* Centered section inside the top navigation 
position: absolute; 


  transform: translate(-50%, -50%);
  padding: 10px;
  margin: 5px;

  display: inline-block;
*/
.topnav-centered a {
  float: none;
  top: 50%;
  left: 50%;
  text-align: center;
}

.topnav-centered a:hover {
  color: 651301;
}

h2, h3{
  font-family: 'EB Garamond', serif;
  /* previously 'La Belle Aurore', Handwriting; */
}

/* h2 is basically my subtitle */
h2.block{
	font-weight: 500; 
	font-style: italic;
	position: relative;
	text-decoration: none;
	float: none;
  	top: 50%;
	text-align: center;
	width: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h3{
  font-weight: 900;
  /*font-size: 2em;*/
  padding-top: 1.5em;
}

h4{
  font-weight: 900;
}

.list{
  padding: 3em 8em;
  animation: fadein 2s;
  position: relative;
  z-index: 0;
}


a, a:visited {
  color: #000;
  text-decoration: none;
  line-height: 1.6em;
}

a:hover {
  color: blue;
}

.bio{
  padding: 1.8em 0em 3em 2em;
  float: right;
  text-align: justify;
  width: 30vw;
  z-index: 99999;
  position: relative;
}

.bioTitle{
  display: none;
}

.contact{
  text-align: center;
  margin-bottom: 3em;
}
.contact h3{
  font-size: 1.8em;
}

.contact a{
  text-decoration: underline;
}

.fab, .fas, .fa-solid{
  vertical-align: middle;
  background-color: #333;
  border-radius: 60%;
  padding: 0.4em;
  margin: 0.8em;
}

a > .fab, a > .fas, a > .fa-solid{
  color: #eee;
  font-size: 5em;
}

/*
center images class 
*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
.fab, .fas, .fa-solid{
  vertical-align: middle;
  background-color: #333;
  border-radius: 50%;
  padding: 0.7em;
  margin: 0.8em;
}

a > .fab, a > .fas, a > .fa-solid{
  color: #eee;
  font-size: 1.2em;
}

*/

.fab:hover, .fas:hover, .fa-solid:hover{
  background-color: blue;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-device-width: 480px) {

        h1{
          margin-right: -0.7em;
          padding-bottom: 0.4em;
        }
        h1.name{
          text-align: center;
          margin: 2em 0 0 0;
          padding: 0;
          /*
          decide font size here later -- is this for phone screens?
          */
          font-size: 2em;
        }
        .list{
          padding: 0em 3em;
        }
        .bio{
          padding: 1em 0;
          float: none;
          text-align: left;
          width: 100%;
          margin: 0 auto;
        }

        .bioTitle{
          display: block;
        }

        /* Add responsiveness - on screens less than 500px, make the navigation 
        links appear on top of each other, instead of next to each other */
        .topnav a {
          float: none;
          display: block;
        }

        .topnav-centered a {
          position: relative;
          top: 0;
          left: 0;
          transform: none;
        }
    }
